@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto+Mono:wght@100&family=Roboto:wght@100&display=swap');

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Poppins', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #1e1f1e;
    min-height: 100vh;
    display: flex;
    place-items: center;
    justify-content: center;
}

.container{
    background: burlywood;
    width: 40rem;
    margin: 0 3rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    place-items: center;
    box-shadow: 0 0 5px 5px rgb(0 0 0);
    min-height: 22rem;
}

/* dynamic creation div Quiz */
.quiz{
    margin: 2rem 0;
}
.quiz h1{
    font: 600 1.37rem monospace;
}
.quiz h2{
    font: 400 1.15rem monospace;   
    letter-spacing: 1px;
    word-spacing: 1px;
}

.quiz .QuizQuestion{
    background: #5a4d19;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    color: #fff8dc;
    box-shadow: 6px 6px 0px 6px rgb(44 23 50);
    font: 300 0.8rem monospace;
    margin: 1rem 0;
    /* width: 30rem; */
}
.quiz .QuizQuestion ul{
    margin: 0.9rem 2rem;
    
}
.quiz .QuizQuestion ul li{
    font: 500 1.15rem sans-serif;
    list-style: none;
    line-height: 1.49rem;
    letter-spacing: 1.5px;
}
.quiz .QuizQuestion [type = 'radio']{
    margin-right: 1rem;
}
.quiz .QuizQuestion .BtnCont{
    display: flex;
    
}
.quiz .QuizQuestion .BtnCont button{
    
    font: 500 1rem sans-serif;
    width: 8rem;
    height: 2rem;
    outline: none;
    border: none;
    background: #854485;
    color: #e5d6bf;
    display: block;
    margin: 1rem auto;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 1px 10px 1px rgb(0 0 0);

}
.quiz .QuizQuestion .BtnCont button:hover{
    background: #b90cb9;
    color: #ffffff;
}

.quiz .QuizQuestion .BtnCont #submit{
    background: #a90808 ;
    color: #e5d6bf;
}
.quiz .QuizQuestion .BtnCont #submit:hover{
    background: #c91515;
    color: #ffffff;
}


.quiz .QuizQuestion .BtnCont button:active,
.anscont  #scoreBtn:active{
    transform: scale(0.98);
}

/* Score Board */
.anscont{
    width: 90%;
    padding: 1rem;
    padding-bottom: 0.2rem;
    text-align: center;
    background: teal;
    color: #cff3ac;
    border-radius: 1rem;
    box-shadow: 0 4px 13px 2px rgb(0 0 0);
    font: 300 1.25rem monospace;
    margin: 0.85rem auto ;
} 
.anscontainer {
    display: none;
}
.anscont #scoreBtn {
    background: #a3601c;
    color: #f1eeeb;

    font: 500 1rem sans-serif;
    width: 8rem;
    height: 2.15rem;
    outline: none;
    border: none;
    display: block;
    margin: 1.5rem auto;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 1px 10px 1px rgb(0 0 0);
}

.anscont #scoreBtn:hover {  
    background: #e1903e;
    color: #120b04;
}


@media screen and ( max-width : 650px) {
    *{
        font-size: 95%;
    }
    .container{
        min-width: 20rem;
        padding: 1rem;
    }
    .quiz .QuizQuestion{
     
        margin: 1rem ;
    }
    .quiz .QuizQuestion .BtnCont{
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and ( max-width : 450px) {

    .quiz .QuizQuestion .BtnCont{
        display: flex;
        flex-wrap: wrap;
    }
}